#jinja2: lstrip_blocks: True, trim_blocks: True
# {{ ansible_managed }}
global:
  scrape_interval:     {{ prometheus_global_scrape_interval }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}
  scrape_timeout: {{ prometheus_global_scrape_timeout }}

{% if prometheus_global_external_labels | length > 0 %}
  external_labels:
  {% for k,v in prometheus_global_external_labels.items() %}
    {{ k }}: {{ v }}
  {% endfor %}
{% endif %}

{% if prometheus_rule_files | length > 0 %}
rule_files:
  {% for rule in prometheus_rule_files %}
  - "{{ rule }}"
  {% endfor %}
{% endif %}

{% if prometheus_remote_write | length > 0 %}
remote_write:
  {% for item in prometheus_remote_write %}
  - {{ item | to_yaml | indent(width=4) }}
  {% endfor %}
{% endif %}

{% if prometheus_remote_read | length > 0 %}
remote_read:
  {% for item in prometheus_remote_read %}
  - {{ item | to_yaml | indent(width=4) }}
  {% endfor %}
{% endif %}

{% if prometheus_scrape_configs | length > 0 %}
scrape_configs:
  {% for item in prometheus_scrape_configs %}
  - {{ item | to_yaml | indent(width=4) }}
  {% endfor %}
{% endif %}

{% if prometheus_alertmanagers | length > 0 %}
alerting:
  alertmanagers:
  {% for item in prometheus_alertmanagers %}
  - {{ item | to_yaml | indent(width=4) }}
  {% endfor %}
{% endif %}
